<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jimmyhernandez.tabletvendedor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginIngresoVendedorActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/myTema" />
        <activity
            android:name=".IngresoVendedorClienteActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/myTema" />
        <activity
            android:name=".MainActivity"
             android:screenOrientation="landscape"
            android:theme="@style/myTema" />
        <activity
            android:name=".FondoCastActivity"
            android:theme="@style/TranslucentActivity" />
        <activity
            android:name=".PlanSmartFunActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".PlanMultimediaActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".PlanPortabilidadActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".PlanVozActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".HogarDoblePackActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".HogarTriplePackActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".TelefoniaFijaActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".TelevisionHdActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".InternetActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".DoblePackUnoActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".DoblePackDosActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".DoblePackTresActivity"
            android:theme="@style/myTema" />
        <activity
            android:name=".TriplePackUnoActivity"
            android:theme="@style/myTema"></activity>
    </application>

</manifest>